body {
    font-family: serif;
    line-height: 1.4;
    margin: 20px;
    background-color: white;
    color: black;
}

.nav-bar {
    display: none;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    font-style: italic;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}

section {
    margin-bottom: 25px;
}

.entry {
    margin-bottom: 15px;
}

ul {
    margin-top: 10px;
    margin-bottom: 15px;
}

li {
    margin-bottom: 3px;
}

a {
    color: blue;
}

a:visited {
    color: purple;
}

footer {
    margin-top: 30px;
    border-top: 1px solid black;
    padding-top: 15px;
}

footer p {
    display: inline;
    margin-right: 20px;
}